.page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.filter {
    display: flex;
    gap: 10px;
}

.brands {
    & > ul {
        list-style: none;
    }
}