.page {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	position: relative;
}

.filter {
	display: flex;
	gap: 20px;
}

.aside {
	position: fixed;
	left: 10px;
	width: 15%;
	display: flex;
	flex-direction: column;
}