.pagination {
	display: flex;
	gap: 10px;
	margin: 10px 0;

	.page {
		color: white;
		background-color: #400606;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		cursor: pointer;
		border-radius: 50%;
		border: none;
	}
}
