.card {
	width: 200px;
	display: flex;
	flex: 0 0 30%;
	flex-direction: column;

	& > img {
		width: 100%;
	}
}

.bot {
	display: flex;
	justify-content: space-between;
	width: 90%;
	.price {
		font-size: 20px;
		line-height: 20px;
	}
	.add {
		cursor: pointer;
	}
}
